cache/
**/__pycache__/
experiments/
index_sepqa/
models/
PIR_data/
pir_data.zip
pir-notebooks-data.zip
PIR-report.odt
project-delivery.zip
SE-PQA.pdf
"Personalized Information Retrieval - Project.pdf"